<div class="house auth-forms">
	
	<p>
		
		<h2>Login</h2>
		<div class="regBox">
			Wait a second! Not registered yet?? 
			<br>
			Then, please, stob by our <a ng-href="#/register">registration desk</a> ;-)
		</div>

	</p>

	<form ng-submit="login()">
		<p ng-show="error" class="text-danger"> {{error}} </p>
		<input type="email" ng-model="user.email" placeholder="Email" class="form-control"> <br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"> <br>
		<input type="submit" value="Log in" class="btn btn-primary">
	</form>

</div>