<div class="container">

	<div class="jumbotron">
		<h1>Favorite Links</h1>
		<br><br>
		<h4>Also known as <em>bookmarks</em></h4>
	</div>


	<h5>Add your favorite internet resource:</h5>
	<br>
	<form ng-submit="submitPost()" name="theForm">
		<label> Name of the website: 
			<input type="text" ng-model="post.title" ng-minlength="1" required>
		</label>
		<label>
			URL: <input type="url" name="input" value="post.url" ng-model="post.url" required>
		</label>
		<input type="submit" value="Add Link">
	</form>

	<br>
	<br>

	<h5>All your bookmarks:</h5>
	<div ng-repeat="post in posts">
		<a href="{{ post.url }}" target="new"> 
			<h2>{{post.title | uppercase}}</h2>
		</a>
		<small><a ng-click="deletePost(post)" href="">delete</a></small>
	</div>

</div>