<div class="container house">

  <p><h4>List of <strong><em>ShaYoBoos</em></strong>:</h4></p>
  
  <div class="post row" ng-repeat="post in posts">

    <div class="col-xs-12">
      <div class="info">
        <a ng-href="{{ post.url }}" target="new">
          {{ post.title }}
        </a> 
        <span class="url">({{ post.url | hostnameFromUrl }})</span>
      </div>
      <div>
        <span>
          submitted by 
          <a ng-href="#/users/{{ post.creatorUID }}">{{ post.creator }}</a></span>
        &mdash;
        <a ng-href="#/posts/{{ post.$id }}">comments</a>
         <a class="delete" href="" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">[delete]</a>
      </div>
    </div> <!-- col -->
  </div> <!-- post row -->

</div>